/obj
/bin
/.vs
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.ncrunch*
*.ide
*.dotCover
_ReSharper*/
*.DotSettings.user
*.rptproj.user
*.class
*.cache
*.log
*.pdb
*.ilk
*.meta
*.obj
*.exe
*.dll
*.app
*.iobj
*.ipdb
/.idea
